.list{
    padding-left: 20px;
    margin-bottom: 20px;
    border-width: 1px 0;
    
    list-style-type: none;
    
  }

#result {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
}

.link-class:hover{
    background-color: rgb(168, 168, 169);
}

ul li {
    background: #f5f6f7;
    margin: 5px;
    border-style: groove;
    border-radius: 0;
    padding: 10px;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  