{% load static %}

<!DOCTYPE html>

<html>
 <head>
  <title>Webslesson Tutorial | Search HTML Table Data by using JQuery</title>
  <script src="{% static 'something.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'something.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <style>
  
 

  </style>
 </head>
 <body>
  <br /><br />
  <div class="container" style="width:900px;">
   <h2 align="center">Story 8</h2>

   <br /><br />
   <div align="center">
    <input type="text" name="search" id="search" placeholder="Search Cat Facts" class="form-control" />
   </div>
   <br>
   <ul class="list" id="result"></ul>
   
  <!--
  <form id ="submit">
      <input type="text" id="catfact" class="form-control" placeholder="Enter Cat Facts">
      <input type="submit" value="Search">
  </form>

  <table id="result1"></table>
-->


 </body>
</html>

<script>

console.log("test1");
console.log($('#catfact'));

/*
var myjson;
$.getJSON('{% static 'cat.json' %}', function(data){
    console.log("test");
    myjson = data;
    console.log(myjson);
});

    
    //action on submit
    $("#submit").submit(function(event){
        $.ajaxSetup({ cache: false });
        console.log(myjson);

    //get value from input
    var catfact = $("#catfact").value;

    //create table header
    $('#result1').html('<tr><th>Fact</th></tr>');

    //create expression so that search condition is case insensitive
    var expression1 = new RegExp(catfact, "i");

    //Get JSON file
 
        
        console.log('halo');
        //Iterate data from JSON
        $.each(myjson, function(key, value){
            // If value.text contains substring from input, append to table
            if (value.text.search(expression1) != -1)
            {
                $('#result1').append('<tr><td>'+value.text+'</td></tr>');
            }
        });
   
    });
*/

$.ajaxSetup({ cache: false });

$('#search').keyup(function(){
 $('#result').html('');
 var searchField = $('#search').val();
 var expression = new RegExp(searchField, "i");
 $.getJSON('{% static 'cat.json' %}', function(data) {
  $.each(data, function(key, value){
   if (value.text.search(expression) != -1)
   {
    $('#result').append('<li class="link-class">'+value.text+'</li>');
   }
  });   
 });
});

$('#result').on('click', 'li', function() {
 var click_text = $(this).text().split('|');
 $('#search').val($.trim(click_text[0]));
 $("#result").html('');
});




</script>