{% load static %}

<!DOCTYPE html>

<html>
 <head>
  <title>Webslesson Tutorial | Search HTML Table Data by using JQuery</title>
  <script src="{% static 'something.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'something.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <style>
  
 

  </style>
 </head>
 <body>
  <br /><br />
  <div class="container" style="width:900px;">
   <h2 align="center">Story 8</h2>

   <br /><br />
   <div align="center">
   <input type="text" id="search1" placeholder="Bookz" class="form-control" />
   </div>
   <ol id='hasil'></ol>
  </div>

  <!--
  <form id ="submit">
      <input type="text" id="catfact" class="form-control" placeholder="Enter Cat Facts">
      <input type="submit" value="Search">
  </form>

  <table id="result1"></table>
-->


 </body>
</html>

<script>

console.log("test1");
console.log($('#catfact'));

/*
var myjson;
$.getJSON('{% static 'cat.json' %}', function(data){
    console.log("test");
    myjson = data;
    console.log(myjson);
});

    
    //action on submit
    $("#submit").submit(function(event){
        $.ajaxSetup({ cache: false });
        console.log(myjson);

    //get value from input
    var catfact = $("#catfact").value;

    //create table header
    $('#result1').html('<tr><th>Fact</th></tr>');

    //create expression so that search condition is case insensitive
    var expression1 = new RegExp(catfact, "i");

    //Get JSON file
 
        
        console.log('halo');
        //Iterate data from JSON
        $.each(myjson, function(key, value){
            // If value.text contains substring from input, append to table
            if (value.text.search(expression1) != -1)
            {
                $('#result1').append('<tr><td>'+value.text+'</td></tr>');
            }
        });
   
    });
*/

$.ajaxSetup({ cache: false });

$('#search1').keyup(function(){
    var keyword = $('#search1').val();
    var url_call = 'https://www.googleapis.com/books/v1/volumes?q=' + keyword;
    $.ajax ({
        url: url_call,
        success: function(hasil){
            console.log(hasil.items);
            var obj_hasil = $('#hasil');
            obj_hasil.empty();

            for(i = 0 ; hasil.items.length ; i++){
                var title = hasil.items[i].volumeInfo.title;
                var thumbnail = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
                console.log(title);
                obj_hasil.append('<li>'+title+'<br><img src='+thumbnail+'></li>')
            }
        }
    })
})



</script>